{{> header title='Blog Details'}}

    <div class="rn-page-title-area pt--120 pb--190 pb_md--100 pb_sm--100  bg_image bg_image--4" data-black-overlay="7">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="rn-page-title text-center pt--100">
                        <h2 class="title theme-gradient">{{{data.title}}}</h2>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-area ptb--120 bg_color--1">
        <div class="about-wrapper">
            <div class="container">
                <div class="row row--35">
                    {{{data.description}}}
                </div>
            </div>
        </div>
    </div>

    
   {{> footer }}