{{> header title='Contact Us'}}


    <div class="rn-popup-mobile-menu">
        <div class="inner">
            <div class="popup-menu-top">
                <div class="logo">
                    <a href="index.html"><img src="assets/images/logo/logo-symbol-dark.png" alt="imroz"></a>
                </div>
                <div class="close-menu d-block d-lg-none">
                    <span class="closeTrigger">
                    <i data-feather="x"></i>
                </span>
                </div>
            </div>
            <ul class="mainmenu">
                <li class="has-droupdown">
                    <a href="#">Home</a>
                    <ul class="submenu">
                        <li><a href="index.html">Main Demo</a></li>
                        <li><a href="dark-main-demo.html">Main Demo Dark</a></li>
                        <li><a href="personal-portfolio.html">Personal Portfolio</a></li>
                        <li><a href="interior-landing.html">Interior Landing</a></li>
                        <li><a href="dark-portfolio-landing.html">Portfolio One Page 02</a></li>
                        <li><a href="portfolio-home.html">Minimal Portfolio</a></li>
                        <li><a href="digital-agency.html">Digital Agency</a></li>
                        <li><a href="creative-agency.html">Creative Agency</a></li>
                        <li><a href="corporate-business.html">Corporate Business</a></li>
                        <li><a href="portfolio-landing.html">Portfolio One Page</a></li>
                        <li><a href="creative-landing.html">Creative Agency Landing</a></li>
                        <li><a href="business.html">Business</a></li>
                        <li><a href="designer-portfolio.html">Designer Portfolio</a></li>
                        <li><a href="home-particles.html">Home Particles</a></li>
                        <li><a href="studio-agency.html">Studio Agency</a></li>
                        <li><a href="startup.html">Startup</a></li>
                        <li><a href="creative-portfolio.html">Creative Portfolio</a></li>
                    </ul>
                </li>
                <li class="has-droupdown">
                    <a href="#">Service</a>
                    <ul class="submenu">
                        <li><a href="service.html">Service</a></li>
                        <li><a href="service-details.html">Service Details</a></li>
                    </ul>
                </li>
                <li><a href="about.html">About</a></li>
                <li class="has-droupdown">
                    <a href="#">Pages</a>
                    <ul class="submenu">
                        <li><a href="blog.html">Blog List</a></li>
                        <li><a href="blog-details.html">Blog Details</a></li>
                        <li><a href="service.html">Service</a></li>
                        <li><a href="service-details.html">Service Details</a></li>
                        <li><a href="portfolio.html">Portfolio</a></li>
                        <li><a href="portfolio-details.html">Portfolio Details</a></li>
                        <li><a href="404.html">404</a></li>
                    </ul>
                </li>
                <li class="has-droupdown"><a href="#">Blocks</a>
                    <ul class="submenu">
                        <li><a href="portfolio.html">Portfolio</a></li>
                        <li><a href="team.html">Team</a></li>
                        <li><a href="service.html">Service</a></li>
                        <li><a href="video-popup.html">Video Popup</a></li>
                        <li><a href="progressbar.html">Progressbar</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="counters.html">Counters</a></li>
                        <li><a href="blog.html">Blog List</a></li>
                        <li><a href="clint-logo.html">Clint Logo</a></li>
                        <li><a href="contact-form.html">Contact Form</a></li>
                        <li><a href="google-map.html">Google Map</a></li>
                        <li><a href="columns.html">Columns</a></li>
                        <li><a href="pricing-table.html">Pricing Table</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
    </div> 
    <!-- End Popup Menu Area  -->
    <!-- Header area End -->


    <!-- Bread Crumb Area -->
    <div class="rn-page-title-area pt--120 pb--190 bg_image bg_image--15" data-black-overlay="6">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="rn-page-title text-center pt--100">
                        <h2 class="title theme-gradient">Contact Us</h2>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bread Crumb  End -->

    <!-- adderss -->
    <div class="rn-contact-top-area ptb--120 bg_color--5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title mb--30 text-center"><span class="subtitle">Our contact address</span>
                        <h2 class="title">Quick Contact Address</h2>
                        <p class="description">The MindFulNEss Team as available for your assitence 24x7. Feel free to cantact anytime.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="rn-address">
                        <div class="icon">
                            <i data-feather="headphones"></i>
                        </div>
                        <div class="inner">
                            <h4 class="title">Contact Phone Number</h4>
                            <p><a href="tel:+444555666777">+91 73218326000</a></p>
                            <p><a href="tel:+222222222333">+91 93985920005</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="rn-address">
                        <div class="icon">
                            <i data-feather="mail"></i>
                        </div>
                        <div class="inner">
                            <h4 class="title">Our Email Address</h4>
                            <p><a href="adminmindfulness@proton.me">adminmindfulness@proton.me</a></p>
                            <p><a href="mindfulnessqueries@proton.me">mindfulnessqueries@proton.me</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="rn-address">
                        <div class="icon">
                            <i data-feather="map-pin"></i>
                        </div>
                        <div class="inner">
                            <h4 class="title">Our Location</h4>
                            <p>Kotri Kalan, Indore Road <br> Bhopal, Madhya Pradesh 466114</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- adderss ENd -->

    <!-- Contact area -->
    <div class="rn-contact-page ptb--120 bg_color--1">
        <div class="container">
            <div class="row row--35 align-items-start">
                <div class="col-lg-6 order-2 order-lg-1">
                    <div class="section-title text-left mb--50">
                        <span class="subtitle">Let's Say Hi</span>
                        <h2 class="title">Contact With Us.</h2>
                        <div class="im_address">
                            <span>Call us directly:</span><a class="link im-hover" href="phone">+91 93985920005
                                </a>
                        </div>
                        <div class="im_address mt--5">
                            <span>Contact Email:</span><a class="link im-hover" href="mindfulnessqueries@proton.me">mindfulnessqueries@proton.me</a>
                        </div>
                    </div>
                    <form id="contact-form" method="POST" action="#" class="rwt-dynamic-form row contact-form--1">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="contact-name"></label>
                                <input name="contact-name" id="contact-name" type="text" placeholder="Your Name">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="contact-phone"></label>
                                <input type="text" name="contact-phone" id="contact-phone" placeholder="Your Phone">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="contact-email"></label>
                                <input name="contact-email" id="contact-email" type="email" placeholder="Your Email">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="contact-message"></label>
                                <textarea name="contact-message" id="contact-message" placeholder="Your Message"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-submit">
                                <button name="submit" type="submit" id="submit" class="btn-default btn-primary">Submit Now</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 order-1 order-lg-2">
                    <div class="thumbnail mb_md--30 mb_sm--30">
                        <img src="assets/images/about/about-12.jpg" alt="imroz">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact area End -->

    <!-- map area -->
    <div class="rn-contact-map-area position-relative">
        <div style="height: 650px; width: 100%;">
            <!--<iframe src="" loading="lazy"></iframe>-->
            <div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="100%" id="gmap_canvas" src="https://maps.google.com/maps?q=vit bhopal&t=k&z=12&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://2yu.co">2yu</a><br><style>.mapouter{position:relative;text-align:right;height:100%;width:100%;}</style><a href="https://embedgooglemap.2yu.co/">html embed google map</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:100%;width:100%;}</style></div></div>
        </div>
    </div>
    <!-- map area End -->

    <!-- Start Brand Area -->
    <div class="rn-brand-area bg_color--5 ptb--120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="brand-style-2">
                        <li><img src="assets/images/brand/contactimg01.jpg" alt="Logo Images"></li>
                        <li><img src="assets/images/brand/contactimg02.jpg" alt="Logo Images"></li>
                        <li><img src="assets/images/brand/contactimg03.jpg" alt="Logo Images"></li>
                        <li><img src="assets/images/brand/contactmg04.jpg" alt="Logo Images"></li>
                        <li><img src="assets/images/brand/contactimg05.jpg" alt="Logo Images"></li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    


    {{> footer }}