{{> header title='Ngo Detail'}}
    

    <div class="rn-page-title-area pt--120 pb--190 bg_image bg_image--27" data-black-overlay="7">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog-single-page-title text-center pt--100">
                        <h2 class="title theme-gradient">NGO1</h2>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Slider area End -->
<div class="about-area ptb--120 bg_color--1">
        <div class="about-wrapper">
            <div class="container">
                <div class="row row--35 align-items-center">
                    {{{data.description}}}
                </div>
            </div>
        </div>
    </div>

    <!-- DEtails Area ENd -->

    <!-- contact area -->
    <div class="blog-comment-form pb--120 bg_color--1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner">
                        <div class="section-title"><span class="subtitle">Have a Comment?</span>
                            <h2 class="title">Leave a Reply</h2>
                        </div>
                        <form class="mt--40" action="#">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-12">
                                    <div class="rnform-group"><input type="text" placeholder="Name"></div>
                                    <div class="rnform-group"><input type="email" placeholder="Email"></div>
                                    <div class="rnform-group"><input type="text" placeholder="Website"></div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-12">
                                    <div class="rnform-group"><textarea placeholder="Comment"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="blog-btn mt--30"><a class="btn-default" href="blog-details.html"><span>SEND
                                                MESSAGE</span></a></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
   {{> footer }}