 <div class="footer-style-2 ptb--30 bg_color--6">
        <div class="wrapper plr--50 plr_sm--20">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="inner">
                        <!--<div class="logo text-center text-sm-left mb_sm--20"><a href="index.html"><img src="assets/images/logo/logo-light.png" alt="Logo images"></a></div>-->
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="inner text-center">
                        <ul class="social-share rn-lg-size d-flex justify-content-center liststyle">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    <a style="color:white;" href="/login">Admin Login</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="inner text-lg-right text-center mt_md--20 mt_sm--20">
                        <div class="text">
                            <p>Copyright © 2023 MindFulNEss.Pvt,Ltd All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="backto-top">
        <div>
            <i data-feather="chevron-up"></i>
        </div>
    </div>
    <!-- Start Back To Top End -->
    <!-- js  
======================================-->
    <!-- modernizer JS -->
    <script src="assets/js/vendor/modernizer.min.js"></script>
    <!-- jquery JS -->
    <script src="assets/js/vendor/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="assets/js/vendor/bootstrap.min.js"></script>

    <script src="assets/js/vendor/avoid-console.js"></script>
    <script src="assets/js/vendor/waypoint.js"></script>
    <script src="assets/js/vendor/wow.js"></script>
    <script src="assets/js/vendor/feather.js"></script>
    <script src="assets/js/vendor/slick.min.js"></script>
    <script src="assets/js/vendor/counterup.js"></script>
    <script src="assets/js/vendor/video.js"></script>
    <script src="assets/js/vendor/masonry.js"></script>
    <script src="assets/js/vendor/lightbox.js"></script>
    <script src="assets/js/vendor/particles.js"></script>

    <!-- main JS -->
    <script src="assets/js/main.js"></script>

</body>

</html>