<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>MindfulNess </title>

    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/mfav.ico">

    <!-- CSS Style -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/plugins/feature.css">
    <link rel="stylesheet" href="assets/css/vendor/slick.css">
    <link rel="stylesheet" href="assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="assets/css/vendor/lightbox.css">
    <link rel="stylesheet" href="assets/css/vendor/fontawesome.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body class="position-relative spybody" data-spy="scroll" data-target=".navbar-example2" data-offset="150">

    <!-- Start Header area -->
    <header class="header-area formobile-menu header--fixed default-color header--sticky">
        <div class="header-wrapper" id="header-wrapper">
            <div class="header-left">
                <!--<div class="logo">
                    <a href="index.html">
                        <img class="logo-1" src="assets/images/logo/logo-light.png" alt="Logo Images">
                        <img class="logo-2" src="assets/images/logo/logo-all-dark.png" alt="Logo Images">
                    </a>
                </div>-->
            </div>
            <div class="header-right">
                <nav class="mainmenunav d-none d-lg-block navbar-example2">
                    <ul class="mainmenu nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link smoth-animation active" href="#home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link smoth-animation" href="#service">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link smoth-animation" href="#getstart">Get a Start</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link smoth-animation" href="#about">Values</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link smoth-animation" href="#team">Our Professionals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link smoth-animation" href="#testimonial">Testimonials</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link smoth-animation" href="#portfolio">Partners</a>
                        </li>
                    </ul>
                </nav>
                <!--<div class="header-btn">
                    <a class="btn-default btn-border btn-opacity" href="https://themeforest.net/checkout/from_item/31904252?license=regular"><span>buy
                            now</span></a>
                </div>-->
                <div class="humberger-menu d-block d-lg-none pl--20">
                    <span class="menutrigger text-white">
                        <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24"
                            stroke-linecap="round" stroke-linejoin="round" height="1em" width="1em"
                            xmlns="http://www.w3.org/2000/svg">
                            <line x1="3" y1="12" x2="21" y2="12"></line>
                            <line x1="3" y1="6" x2="21" y2="6"></line>
                            <line x1="3" y1="18" x2="21" y2="18"></line>
                        </svg>
                    </span>
                </div>
            </div>
        </div>
    </header>
    <!-- End Header area -->

    <!-- Start Popup Menu Area  -->
    <div class="rn-popup-mobile-menu one-page-popup-menu">
        <div class="inner">
            <div class="popup-menu-top">
                <div class="logo">
                    <a href="index.html"><img src="assets/images/logo/logo-symbol-dark.png" alt="logo"></a>
                </div>
                <div class="close-menu d-block d-lg-none">
                    <span class="closeTrigger">
                        <i data-feather="x"></i>
                    </span>
                </div>
            </div>
            <div class="navbar-example2">
                <ul class="mainmenu nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link smoth-animation active" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link smoth-animation" href="#service">Service</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link smoth-animation" href="#getstart">Get a Start</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link smoth-animation" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link smoth-animation" href="#team">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link smoth-animation" href="#testimonial">Testimonial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link smoth-animation" href="#portfolio">Portfolio</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>