 <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="index.html">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-heading">Pages</li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/blog_list">
          <i class="bi bi-envelope"></i>
          <span>Blog</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/ngo">
          <i class="bi bi-envelope"></i>
          <span>NGO</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/professionals_list">
          <i class="bi bi-envelope"></i>
          <span>Our Professionals</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/getastart">
          <i class="bi bi-envelope"></i>
          <span>Get A Start</span>
        </a>
      </li>


      <li class="nav-heading">Section</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="users-profile.html">
          <i class="bi bi-person"></i>
          <span>Users</span>
        </a>
      </li>

      
    </ul>

  </aside>